<div id="<%= dom_id ui_component %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= ui_component.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Html content:</strong>
    <%= ui_component.html_content %>
  </p>

</div>
